fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
psycopg[binary]
langchain
langchain-community
langchain-google-genai>=1.0.7
langchain-postgres
langgraph
pydantic
requests
google-generativeai>=0.7.0
pymupdf
python-multipart
langchain-core
duckduckgo-search
google-auth
bcrypt
python-jose[cryptography]
email-validator
